
*.class

*.class

*.class

.metadata/.plugins/org.eclipse.core.resources/.history/59/20395e910a7f001519228f038df91182

*.history

*.index

*.class

*.dat

HelloWorldJava/bin/MainFolder/MainScreen$1.class

HelloWorldJava/bin/MainFolder/MainScreen$2.class

*.snap

*.dat
